body {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: #363636;
}

a {
    color: #e32b81;
}

.center-text {
    text-align: center;
}

.file-container {
    display: grid;
    grid-template-columns: 400px 600px;
    
    padding: 10px;
}

.file-item {
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 20px;
    font-size: 20px;
    text-align: center;
}